__pycache__/*
lib/__pycache__/*
.vscode

env_mlhd/*
env/*
venv/*

test.ipynb
rec_track_checker/__pycache__/*
rec_track_checker/

config.py

warehouse/logs
warehouse/mapper_outputs
warehouse/MB_tables
warehouse/processed_outputs
warehouse/html_reports